In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("covid-cases-raw.csv")

In [4]:
df.rename(columns = {'div_gen':'genero'}, inplace = True)

In [5]:
df.rename(columns = {'class_0008':'clasificacion'}, inplace = True)

In [6]:
df.rename(columns = {'label':'unidad_medida_edad'}, inplace = True)

In [7]:
df["genero"].replace("Masc", "M", inplace=True)

In [8]:
df["genero"].replace("Fem", "F", inplace=True)

In [9]:
df.head()

,id_evento_caso,genero,edad,unidad_medida_edad,fecha_inicio_sintomas,fallecido,carga_provincia_id,clasificacion,residencia_provincia_id,fecha_diagnostico,residencia_departamento_id
0,1000000,M,54.0,Años,NaN,NO,6,Descartado,2,2020-06-09,0
1,10000000,F,52.0,Años,NaN,NO,2,Descartado,2,2021-04-08,0
2,10000001,F,22.0,Años,2021-04-05,NO,6,Descartado,6,2021-04-08,490
3,10000002,F,44.0,Años,NaN,NO,2,Descartado,6,2021-04-06,427
4,10000003,F,34.0,Años,NaN,NO,2,Descartado,2,2021-04-08,1