In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("covid-cases-raw.csv")

In [3]:
dp = pd.read_csv("departamentos.csv")
dp.head()

    id           nombre
0  490  Lomas de Zamora
1  427       La Matanza
2    1        COMUNA 01
3    8        COMUNA 08
4   12        COMUNA 12

In [4]:
dp.drop_duplicates()

      id           nombre
0    490  Lomas de Zamora
1    427       La Matanza
2      1        COMUNA 01
3      8        COMUNA 08
4     12        COMUNA 12
..   ...              ...
150   36    12 de Octubre
151  466           Lezama
152  308    General Guido
153  630             Pila
154  812         Tordillo

[155 rows x 2 columns]

In [5]:
pv = pd.read_json("provincias.json")
pv.head()

,id,code,name,pop_dens,total_pop,country_percentage
0,6,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13"
1,2,AR-C,Ciudad Autónoma de Buenos Aires,"13743,26",2776138,"7,66"
2,66,AR-A,Provincia de Salta,"7,81",1522304,"3,03"
3,14,AR-X,Provincia de Córdoba,"20,01",3001455,"8,25"
4,62,AR-R,Provincia de Río Negro,"3,14",638645,"1,59"

In [6]:
pv.rename(columns = {'id':'provincia_id'}, inplace = True)

In [7]:
pv.rename(columns = {'name':'nombre_prov'}, inplace = True)
pv.rename(columns = {'pop_dens':'dens_pob_prov'}, inplace = True)
pv.rename(columns = {'total_pop':'poblacion_prov'}, inplace = True)
pv.rename(columns = {'country_percentage':'porcentaje_pob_pais'}, inplace = True)

In [8]:
pv.head()

,provincia_id,code,nombre_prov,dens_pob_prov,poblacion_prov,porcentaje_pob_pais
0,6,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13"
1,2,AR-C,Ciudad Autónoma de Buenos Aires,"13743,26",2776138,"7,66"
2,66,AR-A,Provincia de Salta,"7,81",1522304,"3,03"
3,14,AR-X,Provincia de Córdoba,"20,01",3001455,"8,25"
4,62,AR-R,Provincia de Río Negro,"3,14",638645,"1,59"

In [9]:
df.rename(columns = {'carga_provincia_id':'provincia_id'}, inplace = True)

In [10]:
df.head()

,id_evento_caso,div_gen,edad,label,fecha_inicio_sintomas,fallecido,provincia_id,class_0008,residencia_provincia_id,fecha_diagnostico,residencia_departamento_id
0,1000000,M,54.0,Años,NaN,NO,6,Descartado,2,2020-06-09,0
1,10000000,F,52.0,Años,NaN,NO,2,Descartado,2,2021-04-08,0
2,10000001,F,22.0,Años,2021-04-05,NO,6,Descartado,6,2021-04-08,490
3,10000002,F,44.0,Años,NaN,NO,2,Descartado,6,2021-04-06,427
4,10000003,F,34.0,Años,NaN,NO,2,Descartado,2,2021-04-08,1

In [11]:
merge = pd.merge(df, pv, on="provincia_id", how='outer')

In [12]:
merge.head()

,id_evento_caso,div_gen,edad,label,fecha_inicio_sintomas,fallecido,provincia_id,class_0008,residencia_provincia_id,fecha_diagnostico,residencia_departamento_id,code,nombre_prov,dens_pob_prov,poblacion_prov,porcentaje_pob_pais
0,1000000,M,54.0,Años,NaN,NO,6,Descartado,2,2020-06-09,0,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13"
1,10000001,F,22.0,Años,2021-04-05,NO,6,Descartado,6,2021-04-08,490,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13"
2,10000006,M,57.0,Años,2021-04-05,NO,6,Descartado,6,2021-04-09,413,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13"
3,1000002,M,22.0,Años,NaN,NO,6,Descartado,6,2020-06-01,427,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13"
4,10000028,F,41.0,Años,2021-04-07,NO,6,Descartado,6,2021-04-13,760,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13"

In [13]:
dp.rename(columns = {'id':'residencia_departamento_id'}, inplace = True)
dp.head()

   residencia_departamento_id           nombre
0                         490  Lomas de Zamora
1                         427       La Matanza
2                           1        COMUNA 01
3                           8        COMUNA 08
4                          12        COMUNA 12

In [14]:
#se vuelve a cambiar el nombre por comodidad
dp.rename(columns = {'departamento_id':'residencia_departamento_id'}, inplace = True)
dp.head()

   residencia_departamento_id           nombre
0                         490  Lomas de Zamora
1                         427       La Matanza
2                           1        COMUNA 01
3                           8        COMUNA 08
4                          12        COMUNA 12

In [15]:
_merge = pd.merge(merge, dp, on="residencia_departamento_id", how="outer")

In [16]:
_merge.rename(columns = {'label':'unidad_medida_edad'}, inplace = True)
_merge.rename(columns = {'class_0008':'caso_covid'}, inplace = True)
_merge.rename(columns = {'nombre':'nombre_departamento'}, inplace = True)

In [17]:
#Unificacion de tablas provincias y departamentos con el df inicial
_merge.head()

,id_evento_caso,div_gen,edad,unidad_medida_edad,fecha_inicio_sintomas,fallecido,provincia_id,caso_covid,residencia_provincia_id,fecha_diagnostico,residencia_departamento_id,code,nombre_prov,dens_pob_prov,poblacion_prov,porcentaje_pob_pais,nombre_departamento
0,1000000,M,54.0,Años,NaN,NO,6,Descartado,2,2020-06-09,0,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13",NaN
1,1000021,M,25.0,Años,2020-05-23,NO,6,Descartado,6,2020-06-01,0,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13",NaN
2,1000036,M,38.0,Años,NaN,NO,6,Descartado,2,2020-06-01,0,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13",NaN
3,10000454,F,54.0,Años,NaN,NO,6,Sospechoso,2,2021-04-07,0,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13",NaN
4,1000064,F,21.0,Años,2020-05-27,NO,6,Descartado,6,2020-06-02,0,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13",NaN

In [18]:
#punto3

In [19]:
from sqlalchemy import create_engine

In [ ]:
_merge.drop_duplicates('caso_covid')

In [ ]:
#Se buscan solo los casos confirmados
confirmados = _merge.loc[_merge["caso_covid"] == 'Confirmado']

In [30]:
engine = create_engine('sqlite://', echo=False)

_merge.to_sql('data_covid', con=engine)

,id_evento_caso,div_gen,edad,unidad_medida_edad,fecha_inicio_sintomas,fallecido,provincia_id,caso_covid,residencia_provincia_id,fecha_diagnostico,residencia_departamento_id,code,nombre_prov,dens_pob_prov,poblacion_prov,porcentaje_pob_pais,nombre_departamento
0,1000000,M,54.0,Años,NaN,NO,6,Descartado,2,2020-06-09,0,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13",NaN
1,1000021,M,25.0,Años,2020-05-23,NO,6,Descartado,6,2020-06-01,0,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13",NaN
2,1000036,M,38.0,Años,NaN,NO,6,Descartado,2,2020-06-01,0,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13",NaN
3,10000454,F,54.0,Años,NaN,NO,6,Sospechoso,2,2021-04-07,0,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13",NaN
4,1000064,F,21.0,Años,2020-05-27,NO,6,Descartado,6,2020-06-02,0,AR-B,Provincia de Buenos Aires,"44,95",13827203,"38,13",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15018941,9663878,M,30.0,Años,NaN,NO,18,Descartado,30,2020-09-11,88,AR-W,Provincia de Corrientes,"11,25",992595,"2,47",San Salvador
15018942,9663952,M,37.0,Años,NaN,NO,18,Descartado,30,2020-09-26,88,AR-W,Provincia de Corrientes,"11,25",992595,"2,47",San Salvador
15018943,9664366,M,42.0,Años,NaN,NO,18,Descartado,30,2020-09-21,88,AR-W,Provincia de Corrientes,"11,25",992595,"2,47",San Salvador
15018944,9665150,M,55.0,Años,NaN,NO,18,Descartado,30,2020-09-11,88,AR-W,Provincia de Corrientes,"11,25",992595,"2,47",San Salvador
15018945,9667156,M,24.0,Años,NaN,NO,18,Descartado,30,2020-09-07,88,AR-W,Provincia de Corrientes,"11,25",992595,"2,47",San Salvador